@import "tailwindcss";

@font-face {   
    font-family: Crosner;
    src: url("../src/assets/fonts/Crosner/Crosner-Regular-FREE.otf");
       
}
@font-face {
    font-family: Rovian;
    src: url("../src/assets/fonts/Rovian/CSRovian-Regular_demo-BF699c126e68bd4.otf");
    
}
@font-face {
    font-family: Club;
    src: url(../src/assets/fonts/Club/GC-CLUB-BRAND-BF699d5381bfaa1.ttf);    
}


@theme {
    --font-rovian: Rovian;
    --font-crosner: Crosner;
    --font-club: Club;
    
}